* {
    margin:0;
    padding:0;
}

.bg-light {
    background-color:rgb(8, 8, 68)!important;
    h4 {
        color:white;
    }
}

.top50 {
    height: 100vh;
    h2{
        margin-top:20px;
        text-align: center;
       
    }
    .cardText{
        height: 30px;
    }
    
    
}

footer {
    background-color:rgb(8, 8, 68);
    p {
        padding:10px;
        color:white;
        text-align: center;
    }
}
h2{
    color: green;
}
